<p>pipe works!</p>
<p>{{msg|uppercase}}</p>
<p>{{msg|lowercase}}</p>
<br>
<h2>todays Date:{{todayDate}}</h2>
<br>
<h3>todays Date:{{todayDate|date}}</h3>
<br>
<h3>todays Date:{{todayDate|date:'shortDate'}}</h3>
<br>
<h3>todays Date:{{todayDate|date:'mediumDate'}}</h3>
<br>
<h3>todays Date:{{todayDate|date:'dd-MM-yyyy'}}</h3>
<br>
<h4>employeedetails salary:{{employeedetails.salary|currency}}</h4>
<p>employeedetails salary:{{employeedetails.salary|currency:'INR'}}</p>
<h4>employeedetails salary:{{employeedetails.salary|currency:'EUR'}}</h4>
<br>
<h4>employeedetails Income:{{employeedetails.Income|number}}</h4>
<h4>employeedetails Income:{{employeedetails.Income|number:'5.2-2'}}</h4>
